<div class="container">
  <h2>Reservering bij B&B naam</h2>

  <p>Naam: <%= @booking.name %></p>
  <p>Aankomst: <%= @booking.start_date %></p>
  <p>Vertrek: <%= @booking.end_date %></p>
  <%= link_to "Delete", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Weet je het zeker?"} %>

</div>
