<div class="header">
  <div class="header-img">
    <img src="https://res.cloudinary.com/dipnvqfev/image/upload/v1676472159/BenB%20Bas%20en%20Linda/header_molens_wina3s.jpg" alt="The owners">
  </div>
</div>
