<div class="image-container">
  <div class="row">
    <div class="column">
      <img class="col-6 image-item" src="https://media.istockphoto.com/id/1356429163/nl/foto/dutch-windmills.jpg?s=1024x1024&w=is&k=20&c=VxnIXXUKHbWbcPQyiRiwYVC-wKZjXqy21cKwO5JvUH0=" alt="">
      <img class="col image-item" src="https://media.istockphoto.com/id/1369007079/nl/foto/schermerhorn-in-the-netherlands.jpg?s=1024x1024&w=is&k=20&c=2qs4-RV2UEsOwkHOByrW54EdJkWQSotDaFQeAZVMPiI=" alt="">
      <img class="col image-item"  src="https://media.istockphoto.com/id/1356429168/nl/foto/dutch-spring-scene.jpg?s=612x612&w=0&k=20&c=4sllnU9PcFXXbLoMk8uBtV-63H8qCvZMxqWB8hBtkuQ=" alt="">
    </div>
    <div class="column">
      <img class="col-6 image-item" src="https://media.istockphoto.com/id/1356429163/nl/foto/dutch-windmills.jpg?s=1024x1024&w=is&k=20&c=VxnIXXUKHbWbcPQyiRiwYVC-wKZjXqy21cKwO5JvUH0=" alt="">
      <img class="col image-item" src="https://media.istockphoto.com/id/1369007079/nl/foto/schermerhorn-in-the-netherlands.jpg?s=1024x1024&w=is&k=20&c=2qs4-RV2UEsOwkHOByrW54EdJkWQSotDaFQeAZVMPiI=" alt="">
      <img class="col image-item"  src="https://media.istockphoto.com/id/1356429168/nl/foto/dutch-spring-scene.jpg?s=612x612&w=0&k=20&c=4sllnU9PcFXXbLoMk8uBtV-63H8qCvZMxqWB8hBtkuQ=" alt="">
    </div>
    <div class="column">
      <img class="col-6 image-item" src="https://media.istockphoto.com/id/1356429163/nl/foto/dutch-windmills.jpg?s=1024x1024&w=is&k=20&c=VxnIXXUKHbWbcPQyiRiwYVC-wKZjXqy21cKwO5JvUH0=" alt="">
      <img class="col image-item" src="https://media.istockphoto.com/id/1369007079/nl/foto/schermerhorn-in-the-netherlands.jpg?s=1024x1024&w=is&k=20&c=2qs4-RV2UEsOwkHOByrW54EdJkWQSotDaFQeAZVMPiI=" alt="">
      <img class="col image-item"  src="https://media.istockphoto.com/id/1356429168/nl/foto/dutch-spring-scene.jpg?s=612x612&w=0&k=20&c=4sllnU9PcFXXbLoMk8uBtV-63H8qCvZMxqWB8hBtkuQ=" alt="">
    </div>
  </div>
</div>
