<div class="owner-container">
  <div class="owner-left">
    <img #id="owner-image" src="https://res.cloudinary.com/dipnvqfev/image/upload/v1676470689/BenB%20Bas%20en%20Linda/Bas_en_Linda_o6euev.jpg" alt="Owners">
  </div>
  <div class="owner-right">
    <div class="owner-content">
      <h2>Welkom bij onze B&B</h2>
      <p>Wij zijn Bas en Linda trotse gastheer en gasvrouw van deze prachtige B&B</p>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quia est, mollitia id commodi voluptatem repellendus natus iusto rem veniam, aliquam quis eaque soluta qui, sed consequatur libero fuga excepturi.
        Dolores nihil dignissimos et? Corrupti blanditiis id quaerat, aut praesentium tempore officiis, voluptas tempora esse eius non reiciendis perspiciatis explicabo quas rem nesciunt tenetur ullam vero deserunt alias, distinctio consectetur.
        Voluptate quo neque quaerat doloribus earum dolorum voluptates dolore quia accusamus ullam explicabo ipsum qui quas velit cumque, sunt maiores cum a assumenda modi laborum expedita! Quisquam rem error aliquam.</p>
    </div>
    <div class="owner-buttons">
      <%= link_to "Reserveer Direct", new_booking_path, class: "primary-button"%>
      <%= link_to "Meer over B&B", about_path, class: "secondary-button"%>
    </div>
  </div>
</div>
