.navbar-transparant {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
  position:fixed;
  top: 0;
  width: 100vw;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 100px;
    margin: 0;
    padding: 0;
  }
}

.navbar-solid{
  background-color:rgb(255, 255, 255) ;
}

